*{
    background: #000;
    color: antiquewhite;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

div{
    position: fixed;
    top: 40%;
    left: 38%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#clock{
    background-color: brown;
    padding: 1rem;
    border: 1px solid aliceblue;
    color: aliceblue;
    border-radius: 1rem;
    margin-top: 1rem;
}