* {
    background: bisque;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header h1{
    background: rgb(71, 5, 40);
    color: #eee;
    padding: 1rem;
    text-align: center;
    border-radius: 100%;
    font-weight: 600;
    border: 1px solid goldenrod;
    margin-bottom: 5vh;
    
}
main{
    min-height: 80%;
}
.drum-container{
    border-radius: 8%;
    margin: auto;
    min-height: 80vh;
    min-width: 80vh;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1vh;
    background: rgb(126, 7, 51);
    
}

.drum-container button{
    border: 1px solid goldenrod;
    border-radius: 30%;
    color: #be3c3c;
    font-weight: 800;
    text-shadow: 2.5px 2.5px 2px rgba(0, 0, 0, 0.5);
}
.drum-container :nth-child(7){
    
    grid-row: 3/4;
    grid-column: 2/4;
    background-image: url(images/kick.png);
}
.drum-container :nth-child(6){
    grid-column: 4/5;
    grid-row: 2/4;
    background-image: url(images/tom1.png);
}
.drum-container :nth-child(5){
    grid-row: 2/4;
    background-image: url(images/snare.png);
}
.drum-container :nth-child(4){
    background-image: url(images/tom4.png);
}
.drum-container :nth-child(3){
    grid-row: 2/3;
    grid-column: 2/4;
    background-image: url(images/tom3.png);
}
.drum-container :nth-child(2){
    grid-column: 2/4;
    background-image: url(images/tom2.png);
}
.drum-container :nth-child(1){
    background-image: url(images/crash.png);
}
.pressed {
    box-shadow: 0 4px 4px 0 #8f9b9f;
    opacity: 0.7;
  }



